<a href="https://colab.research.google.com/github/Lynneice/DS-Unit-2-Applied-Modeling/blob/master/McNutt_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [ ]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & Ty
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

NameError: ignored

# Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [ ]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [ ]:
df.tail()

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[5 rows x 34 columns]

In [ ]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [ ]:
df['created'] = pd.to_datetime(df['created'])

In [ ]:
#convert to datetime for indexing
import datetime as dt
train = df[df['created'] < dt.datetime(2016,6,1)]

In [ ]:
test = df[df['created'] >= dt.datetime(2016,6,1)]

In [ ]:
train.shape, test.shape

((32208, 34), (17144, 34))

In [ ]:
train.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0
5        2.0         4  ...                 0                    0
6        1.0         2  ...                 0                    0

[5 rows x 34 columns]

# Feature Engineering

In [ ]:
def tinyhouse(x):
  if x <= 1:
    result = 1
  else:
    result = 0
  return result

In [ ]:
#for those looking for a smaller space
df['tinyhouse'] = df['bedrooms'].apply(tinyhouse)

In [ ]:
df.head(25)

    bathrooms  bedrooms  ... common_outdoor_space tinyhouse
0         1.5         3  ...                    0         0
1         1.0         2  ...                    0         0
2         1.0         1  ...                    0         1
3         1.0         1  ...                    0         1
4         1.0         4  ...                    0         0
5         2.0         4  ...                    0         0
6         1.0         2  ...                    0         0
7         2.0         1  ...                    0         1
8         1.0         1  ...                    0         1
9         2.0         4  ...                    0         0
10        1.0         0  ...                    0         1
11        1.0         1  ...                    0         1
12        1.0         2  ...                    0         0
13        2.0         2  ...                    0         0
14        1.0         1  ...                    0         1
15        1.0         0  ...                    0         1
16        1.0         2  ...                    0         0
17        1.0         1  ...                    0         1
18        1.0         4  ...                    0         0
19        1.0         1  ...                    0         1
20        1.0         3  ...                    0         0
21        1.0         2  ...                    0         0
22        1.0         1  ...                    0         1
23        1.0         1  ...                    0         1
24        2.0         4  ...                    0         0

[25 rows x 35 columns]

In [ ]:
#likely has a modern master en suite if its renovated and incldues master bath in the description
def dream_bathroom(x):
  if "master bath" and "renovated" in str(x):
    result1 = 1
  else:
    result1 = 0
  return result1

In [ ]:
#use apply method
df['has_en_suite'] = df['description'].apply(dream_bathroom)

In [ ]:
def dog_lovers(x,y,z):
  if x  == 1 and y or z == 1:
    result2 = 1
  else:
    result2 = 0
  return result2

In [ ]:
# use np vectorize to apply function accepting multiple args; great for dogs if it allows dogs, and has outdoor space or common outdoor space
df['great_for_dogs'] = np.vectorize(dog_lovers)(df['dogs_allowed'], df['outdoor_space'], df['common_outdoor_space'])

In [ ]:
df.head(60)

    bathrooms  bedrooms  ... has_en_suite great_for_dogs
0         1.5         3  ...            0              0
1         1.0         2  ...            0              0
2         1.0         1  ...            0              0
3         1.0         1  ...            1              0
4         1.0         4  ...            1              0
5         2.0         4  ...            0              0
6         1.0         2  ...            0              0
7         2.0         1  ...            0              0
8         1.0         1  ...            0              0
9         2.0         4  ...            0              0
10        1.0         0  ...            0              0
11        1.0         1  ...            0              0
12        1.0         2  ...            0              0
13        2.0         2  ...            0              0
14        1.0         1  ...            0              0
15        1.0         0  ...            1              0
16        1.0         2  ...            0              0
17        1.0         1  ...            0              0
18        1.0         4  ...            0              0
19        1.0         1  ...            0              0
20        1.0         3  ...            1              0
21        1.0         2  ...            1              0
22        1.0         1  ...            0              0
23        1.0         1  ...            0              0
24        2.0         4  ...            0              1
25        3.5         4  ...            0              0
26        1.0         1  ...            0              0
27        1.0         1  ...            0              0
28        1.0         1  ...            0              0
29        2.0         2  ...            0              0
30        1.0         0  ...            1              0
31        1.0         2  ...            1              1
32        1.0         1  ...            0              0
33        1.0         2  ...            0              0
34        1.0         2  ...            0              0
35        1.0         1  ...            0              0
36        1.0         0  ...            0              0
37        1.0         0  ...            1              0
38        2.0         2  ...            1              0
39        1.0         0  ...            0              1
40        1.0         3  ...            0              0
41        3.0         4  ...            0              1
42        1.0         0  ...            1              0
43        1.0         0  ...            1              0
44        1.0         1  ...            0              0
45        1.0         1  ...            0              0
46        1.0         0  ...            1              0
47        1.0         2  ...            0              1
48        1.0         1  ...            0              0
49        1.0         2  ...            0              1
50        1.0         1  ...            0              0
51        1.0         1  ...            0              0
52        1.0         0  ...            1              0
53        1.0         1  ...            1              0
54        1.0         0  ...            0              0
55        2.0         2  ...            0              0
56        1.0         2  ...            0              0
57        1.0         0  ...            0              0
58        1.0         3  ...            0              1
59        1.0         1  ...            0              0

[60 rows x 37 columns]

In [ ]:
#split w/new features
train = df[df['created'] < dt.datetime(2016,6,1)]
test = df[df['created'] >= dt.datetime(2016,6,1)]

In [ ]:
train.shape, test.shape

((32208, 37), (17144, 37))

# Fit a linear regression model with at least two features.

In [ ]:
estimate1 = train['price'].mean()
estimate1

3734.503166915052

In [ ]:
target = 'price'
y_train = train[target]
y_test = test[target]

In [ ]:
#mean baseline
guess = y_train.mean()
print("Mean Baseline: " + str(guess))

Mean Baseline: 3734.503166915052

In [ ]:
#how far off is the train error
from sklearn.metrics import mean_absolute_error
y_pred = [guess] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} dollars')

Train Error: 1424.69 dollars

In [ ]:
# how far off is the test error
y_pred = [guess] * len(y_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error: {mae:.2f} dollars')

Test Error: 1679.64 dollars

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
features = ['great_for_dogs']
X_train = train[features]
X_test = test[features]
print(f'Linear Regression, dependent on: {features}')

Linear Regression, dependent on: ['great_for_dogs']

In [ ]:
# 4. Fit the model
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} dollars')

Train Error: 1420.47 dollars

In [ ]:
# 5. Apply the model to new data
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error: {mae:.2f} dollars')

Test Error: 1671.99 dollars

In [ ]:
# Re-arrange X features matrices for two features
features = ['great_for_dogs', 
            'has_en_suite']
print(f'Linear Regression, dependent upon: {features}')

X_train = train[features]
X_test = test[features]

Linear Regression, dependent upon: ['great_for_dogs', 'has_en_suite']

In [ ]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = model.predict(X_train)
#calculate MAE
(y_pred - y_train).abs().mean()

1420.600904464099

In [ ]:
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} dollars')

Train Error: 1420.60 dollars

# Get the model's coefficients and intercept.

In [ ]:
model.intercept_, model.coef_

(3734.718127492101, array([ 372.3051709 , -156.39529549]))

In [ ]:
beta0 = model.intercept_
beta1, beta2 = model.coef_
print(f'y = {beta0} + {beta1}x1 + {beta2}x2')

y = 3734.718127492101 + 372.3051709015697x1 + -156.3952954887024x2

In [ ]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept 3734.718127492101
great_for_dogs    372.305171
has_en_suite     -156.395295

# Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

In [1]:
from matplotlib.patches import Rectangle
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def squared_errors(df, feature, target, m, b):
    """
    Visualize linear regression, with squared errors,
    in 2D: 1 feature + 1 target.
    
    Use the m & b parameters to "fit the model" manually.
    
    df : Pandas DataFrame
    feature : string, feature column in df
    target : string, target column in df
    m : numeric, slope for linear equation
    b : numeric, intercept for linear requation
    """
    
    # Plot data
    fig = plt.figure(figsize=(7,7))
    ax = plt.axes()
    df.plot.scatter(feature, target, ax=ax)
    
    # Make predictions
    x = df[feature]
    y = df[target]
    y_pred = m*x + b
    
    # Plot predictions
    ax.plot(x, y_pred)
    
    # Plot squared errors
    xmin, xmax = ax.get_xlim()
    ymin, ymax = ax.get_ylim()
    scale = (xmax-xmin)/(ymax-ymin)
    for x, y1, y2 in zip(x, y, y_pred):
        bottom_left = (x, min(y1, y2))
        height = abs(y1 - y2)
        width = height * scale
        ax.add_patch(Rectangle(xy=bottom_left, width=width, height=height, alpha=0.1))
    
    # Print regression metrics
    mse = mean_squared_error(y, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y, y_pred)
    r2 = r2_score(y, y_pred)
    print('Mean Squared Error:', mse)
    print('Root Mean Squared Error:', rmse)
    print('Mean Absolute Error:', mae)
    print('R^2:', r2)